# Application
PORT=3000
APP_URL=http://localhost:3000

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=bkash_user
DB_PASSWORD=bkash_pass
DB_DATABASE=bkash_payment

# bKash Live Credentials
BKASH_BASE_URL=https://tokenized.pay.bka.sh/v1.2.0-beta
BKASH_SECRET_KEY=
BKASH_APP_KEY=
BKASH_USERNAME=
BKASH_PASSWORD=
